@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: none; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 12px; font-family: "微软雅黑"; }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body { background: none repeat scroll 0 0 #f7f7f7; color: #333333; line-height: 1.2; font: 13px/1.5 "微软雅黑", Helvetica, Arial, sans-serif; letter-spacing: 0.5px; }
a, a:link { text-decoration: none; }
a:visited { }
a:active, a:hover { text-decoration: none; }
a:focus { outline: none; }
.clear { clear: both; }
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { display: block; min-height: 1%; }
*html .clearfix { height: 1%; }
#wrapper { min-height: 100%; background: url(../images/public-bgbody.jpg) repeat 0 0; }
h1, h2, h3 { font-weight: normal; }
h2 { font-size: 28px; line-height: 1.29; }
h1 { font-size: 40px; line-height: 1.35; }
h4 { font-size: 20px; }
h5 { font-size: 14px; font-weight: bold; line-height: 1.286; }
.fl, .fr { display: inline; float: left; }
.fr { float: right; }
.ohd { overflow: hidden; }
textarea { resize: none; padding: 0px; margin: 0px; }
.mb15 { margin-bottom: 15px; }
.org { color: #ff6600; }
.divider { border-bottom: 1px solid #2B2B2B; border-top: 1px solid #111111; height: 0; margin: 12px 10px 0; }
.alls{position:absolute;left:0;top:0;width:100% !important;z-index:999}
.g_sd51, .g_sd52 { position: absolute; width: 240px; margin: 0 -240px 0 0; overflow: hidden; }
.g_sd51 { background: #202020; float: left; left: 0; z-index: 1; overflow: inherit; }
.g_sd52 { background: #e4e4e4; float: right; right: 0; border-left: 1px #ccc solid; }
.g_sd52 { float: right; width: 324px; margin: 0 0 0 -325px; overflow: hidden; }
.g_mn5 { float: left; width: 100%;}
.g_mn5c { height: 100%; margin: 0 324px 0 240px; padding: 0px 30px; *padding:0px 45px 0px 30px;
overflow-x: hidden; overflow-y: scroll; position: relative; background: #f7f7f7; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.bgcolor { background: #fff; }
/*#tbox{width:47px; height:73px; float:right; position:fixed;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}*/
/*解决IE6下不兼容 position:fixed 的问题*/
.dypic { background: url(../images/dypic.png) no-repeat; }
.glyphicon { background: url(../images/glyphicon.png) no-repeat;  }
#tbox { float: right; height: 169px; position: fixed; width: 46px; overflow:hidden }

/*#gotop{ width:47px; height:47px; background:url(../images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} */
#gotop { background:url(../images/gotop_bj.png)  0 0 no-repeat scroll; cursor: pointer; display: none; height: 47px; position: absolute; top: 3px; width: 47px; transition:all 0.2s ease 0s; }
#gotop:hover { background: url(../images/gotop_bj.png) -47px 0 no-repeat; }


#dj { background:url(../images/dj_bj.png) 0 0 no-repeat scroll; cursor: pointer;height: 47px; position: absolute; top: 50px; width: 47px; transition:all 0.2s ease 0s;  }
#dj:hover { background: url(../images/dj_bj.png) -47px 0 no-repeat; }


#want { background:url(../images/want_bj.png) 0 0 no-repeat scroll ; height: 47px; position: absolute; top: 97px; width: 47px; transition:all 0.2s ease 0s;  }
#want:hover { background: url(../images/want_bj.png) -47px 0 no-repeat scroll; }




#jianyi { width: 47px; height: 25px; background:url(../images/suggest_bj.png) 0 0 no-repeat; position: absolute; bottom: 0px; cursor: pointer ; transition:all 0.2s ease 0s; }
#jianyi:hover { background:url(../images/suggest_bj.png) -47px 0 no-repeat; }
/*图文容器*/
.pro .bd li a .title { color: #444444; font-size: 14px; height: 20px; overflow: hidden; width: 310px; }
.pro .bd li a .moreMes { color: #F76300; padding-top: 2px; display: inline-block; width: 100%; }
.pro .bd li { width: 322px; height: 233px; overflow: hidden; background: #fff; margin-right: 16px; float: left; display: inline-block; margin-bottom: 20px; }
.pro .bd li a { display: inline-block; width: 320px; box-shadow: 0 1px 0px #efefef; border: 1px #ddd solid; }
.pro .bd li a:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.pro .bd li.last { margin-right: 0px; }
.pro .bd .mes { padding: 5px 5px 3px; line-height: 20px; font-size: 12px; }
.pro .list { position: relative; z-index: 0; }
.pro .bd li .list:hover .shadow { display: block; }
.pro .list .shadow, .hotGame .unit .thumb .shadow { cursor: pointer; display: none; height: 180px; left: 0px; position: absolute; top: 0px; width: 320px; z-index: 10; background: url(../images/black.png) repeat; }
.hotGame .unit .thumb .shadow { width: 140px; height: 195px; }
.pro .list .shadow .iconPlay, .hotGame .unit .thumb .shadow .iconPlay { width: 69px; height: 69px; background: url(../images/playIcon.png) no-repeat 0 0; position: absolute; left: 120px; top: 52px; }
.icon_live { display: none; }
.search_result_list .list .icon_live { display: block; background: none repeat scroll 0 0 #62B21B; color: #FFFFFF; font-size: 12px; padding: 2px 6px; position: absolute; right: 0; top: 0; z-index: 11; }
.hotGame .unit .thumb .shadow .iconPlay { left: 35px; top: 52px; }
.moreMes span { overflow: hidden; display: inline-block; }
.moreMes .view { float: left; /*background: url("../images/view.gif") no-repeat scroll left center;*/ background: url("../images/peo.png") no-repeat scroll left center; color: #797979; height: 20px; overflow: hidden; padding-left: 24px; width: 50px; }
.moreMes .nnt { float: left; /*background: url("../images/nnt.gif") no-repeat scroll left center;*/ background: url(../images/head_icon.png?20140819) 0 -82px no-repeat; color: #797979; height: 20px; overflow: hidden; padding-left: 24px; width: 96px; }
.moreMes .zbName { height: 20px; overflow: hidden; text-align: right; float: right; }
.moreMes b { margin: 0px 2px; color: #7E7E7E; }
/*图文容器*/


.app a { background: url("../images/mobile_h.gif") no-repeat scroll left 9px; color: #F29E2B; float: right; padding: 8px 22px 0 19px; text-align: right; }
.app a:hover { color: #ffce49; }
/*左侧（用户信息）*/
.sidebar_search { margin-bottom: 15px; padding: 0 10px; }
.sidebar_search .dypic { background: #3c3c3c url(../images/glyphicon.png) no-repeat 8px 8px; float: left; width: 22px; height: 28px; *margin-top:1px;
}
.search_input { border: medium none; color: #7a7a7a; font: inherit; height: 28px; line-height: 28px; letter-spacing: inherit; margin: 0; outline: medium none; width: 185px; padding-left: 10px; background: #3c3c3c; }
.userarea .user { background: #4f4f4f; padding: 8px; position: relative; z-index: 1; }
.userarea .user .img { margin-right: 8px; }
.userarea .user .img a { width: 51px; height: 51px; display: inline-block; }
.userarea .user .intro { float: left; width: 156px; overflow: hidden; }
.userarea .user .intro h4 { color: #fff; float: left; font-size: 14px; margin-right: 5px; font-weight: normal; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.userarea .user .intro li { margin-bottom: 5px; }
.userarea .user .intro a { color: #FFFFFF; text-decoration: none }
.userarea .user .intro a.exit { display: inline-block; width: 14px; height: 17px; background: url(../images/glyphicon.png) repeat-x -26px -131px; }
.userarea .user .intro a.exit:hover { background-position: 0px -131px; }
.userarea .user .intro a:hover { color: #fff; }
.userarea .user .intro .level_img { margin-top: 3px; display: inline-block; }
.userarea .bar { float: left; margin: 5px 15px 0px 0px; }
.user_emes { border-top: 1px #1d1d1d solid; border-bottom: 1px #1d1d1d solid; background: #2b2b2b; }
.user_emes li { float: left; width: 119px; border-right: 1px #232323 solid; text-align: center; line-height: 20px; height: 50px; overflow: hidden; }
.user_emes li a { color: #8e8e8e; display: inline-block; width: 119px; height: 45px; padding-top: 4px; }
.user_emes li a:hover { background: #343434; color: #fff; }
.user_emes li a.yw, .user_emes li a.gz { position: relative; }
.bar { background: none repeat scroll 0 0 #7B7B7B; color: #FFFFFF; display: inline-block; height: 10px; position: relative; width: 127px; }
.bar .bar_per { background: #ff921a; display: inline-block; height: 10px; left: 0; position: absolute; top: 0; width: 10%; }
.bar .bar_nb { font-size: 11px; position: absolute; right: 0; top: -4px; width: 122px; text-align: center; }
.bar span { float: left; }
.all_live { margin: 0px 10px; height: 28px; line-height: 30px; }
.all_live a { color: #ff921a; display: block; width: 217px; height: 28px; line-height: 28px; }
.all_live a.dypic { background: #343434; }
.all_live a.dypic:hover { background: #3e3e3e; }
.all_live .glyphicon { display: inline-block; width: 16px; height: 11px; margin: 0px 9px 0px 68px; *margin:-14px 9px 0px 68px;
}
.all_live .glyphicon.glyphicon_zb { background-position: -55px 1px; }
.nav_section { padding-top: 15px; position: relative; }
.scrollbar { background-position: 0 0; right: 0px; top: 0px; bottom: 0px; position: absolute; width: 15px; z-index: 9999; float: right; }
.scrollbar .track { padding: 0 1px; position: absolute; right: -3px; top: 0; width: 13px; }
.scrollbar .thumb { background: none repeat scroll 0 0 #454545; border-radius: 7px; cursor: pointer; height: 20px; overflow: hidden; width: 8px; position: absolute; top: 0; }
.scrollbar .thumb .end { height: 5px; overflow: hidden; width: 25px; }
#left_big_show { position: absolute; top:240px; bottom: 50px; width: 240px; visibility: visible; }
#left_big_show .viewport { overflow: hidden; position: absolute; overflow: hidden; width: 240px; height: 100%; }
#left_big_show .overview { position: absolute; left: 0; top: 0; padding: 0; margin: 0; width: 240px; }
#left_big_show .disable { display: none; }
.left .header01 { background: none repeat scroll 0 0 #202020; color: #ACACAC; font-size: 13px; font-weight: bold; line-height: 22px; margin-bottom: 5px; padding: 0 10px; text-transform: uppercase; }
.nav_section .tagCont { padding: 0 10px; }
.nav_section .tagCont ul li { float: left; display: inline-block; height: 24px; width: 66px; margin: 2px 4px 4px 2px; }
.nav_section .tagCont a { background: none repeat scroll 0 0 #2F2F2F; display: inline-block; line-height: 24px; text-align: center; width: 62px; color: #909090; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0px 2px; }
.nav_section .tagCont a:hover { color: #fff; }
.nav_section .tagCont a.current { background: none repeat scroll 0 0 #E9A100; color: #FFFFFF; width: 66px; }
.nav_section .tagCont a.more { color: #ff921a }
.content .top { background: none repeat scroll 0 0 #202020; width: 240px; }
.content .top .logo_zb { background: url(../images/logo_zb.png) no-repeat scroll -4px 1px; display: block; height: 114px; text-indent: -100px; width: 240px; margin: 20px 0 10px; }
.sidenews { padding: 15px 10px 0px; }
.sidenews h3 { color: #fff; }
.sidenews li { line-height: 22px; }
.sidenews li a { color: #9e9e9e; }
.sidenews li a:hover { color: #e9a100; }
.loginarea, .gfbtn { padding: 10px 0px 10px 10px;border-top: 1px #2b2b2b solid; }
.gfbtn {
    background: none repeat scroll 0 0 #1A1A1A;
    border-top: 1px solid #2B2B2B;
    bottom: 0;
    left: 0;
    padding: 10px 0 10px 10px;
    position: absolute;
}
.loginarea a, .gfbtn a { display: inline-block; width: 104px; height: 28px; line-height: 28px; text-align: center; color: #fff; margin-right: 5px; background: #636363; }
.loginarea a:hover, .gfbtn a:hover { background: #ff921a; }
#large_nav { width: 240px; background-color: #202020; position: absolute; top: 0; left: 0; bottom: 0; }
#large_nav .content { width: 240px; height: 100%; }
#small_nav { width: 50px; height: 100%; display: none; }
#small_nav .content { background: none repeat scroll 0 0 #202020; height: 100%; width: 49px; }
#small_nav .content ul { height: 100%; list-style-type: none; position: relative; }
#small_nav .content ul { height: 100%; list-style-type: none; position: relative; }
#small_nav .content ul li { overflow: hidden; }
#small_nav .content ul li a { cursor: pointer; display: block; float: left; height: 50px; overflow: hidden; text-indent: -999px; width: 49px; }
#small_nav .content ul li a:hover { background-color: #1B1B1B; }
#small_nav .content ul li a:active { background-color: #161616; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) inset; }
#small_nav .filter_icon { display: block; float: left; height: 50px; width: 48px; }
#small_nav .filter_icon { background-image: url(../images/small_nav_icons_rev1.png); background-repeat: no-repeat; }
#small_nav #small_home .filter_icon { background-position: 0 0; }
#small_nav #small_home a:hover .filter_icon { background-position: -50px 0; }
#small_nav #small_following .filter_icon { background-position: 0 -300px; }
#small_nav #small_following a:hover .filter_icon { background-position: -50px -300px; }
#small_nav #small_account .filter_icon { background-position: 0 -250px; }
#small_nav #small_account a:hover .filter_icon { background-position: -50px -250px; }
#small_nav #small_account .filter_icon.filter_icon_login { background-position: 0px -380px; }
#small_nav #small_account a:hover.filter_icon.filter_icon_login { background-position: -51px -380px; }
#small_nav #small_sort .filter_icon { background-position: 0 -100px; }
#small_nav #small_sort a:hover .filter_icon { background-position: -50px -100px; }
#small_nav #small_live .filter_icon { background-position: 2px -150px; }
#small_nav #small_live a:hover .filter_icon { background-position: -48px -150px; }
#small_nav .content ul #small_account, #small_nav .content ul #small_login { border-top: 1px solid #111111; }
#small_nav .content ul #small_account a { box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04) inset; }
.intro .tip { left: 9px; top: 62px; z-index: 2; }
.tip { background: none repeat scroll 0 0 #FFFFFF; color: #5B5B5B; font-size: 12px; line-height: 20px; padding: 4px 5px; position: absolute; width: 207px; }
.tip i { color: #FF9300; }
.arrow { border-style: solid; border-width: 6px; top: -12px; display: block; height: 0; left: 102px; position: absolute; border-color: transparent transparent #fff; }
/*
 .viewport{position: relative;}
 .overview{ position:absolute;}
 */
.tipsy { position: absolute; z-index: 999; padding: 2px 8px; background: #000; opacity: 0.8; min-width: 20px; height: 26px; line-height: 26px; color: #FFF; font-size: 12px; }
.tipsy .arrow { border-style: solid; border-width: 6px; top: -12px; display: block; height: 0; left: 50%; position: absolute; border-color: transparent transparent #000; }
.tipbox { position: relative }
.tip01 { background: #888; color: #fff; font-size: 12px; line-height: 20px; padding: 4px 8px; position: absolute; text-align: center; }
.tip01 .arrow { border-style: solid; border-width: 6px; top: 27px; display: block; height: 0; left: 50%; position: absolute; border-color: #888 transparent transparent; }
/*
 .viewport{position: relative;}
 .overview{ position:absolute;}
 */
.tipsy { position: absolute; z-index: 999; padding: 2px 8px; background: #000; opacity: 0.8; min-width: 20px; height: 26px; line-height: 26px; color: #FFF; font-size: 12px; }
.tipsy .arrow { border-style: solid; border-width: 6px; top: -12px; display: block; height: 0; left: 50%; position: absolute; border-color: transparent transparent #000; }


/*显示隐藏*/
.dis { 
    display:block; 
}
.undis { 
    display:none; 
}

.nomar{
	margin-right: 0;
}
.bold { 
    font-weight:bold; 
}
.abs { 
    position:absolute; 
}



.click{
    cursor:pointer; 
}
.move { 
    cursor:move; 
}
.vis { 
    visibility:visible;
}
.unvis { 
    visibility:hidden; 
}
html .noborder { 
    border:none 
}
.noborbot { 
   border-bottom: none; 
}


/*透明*/
.alp1 { filter:alpha(opacity=10); -moz-opacity:0.10; opacity: 0.10; }
.alp2 { filter:alpha(opacity=20); -moz-opacity:0.20; opacity: 0.20; }
.alp3 { filter:alpha(opacity=30); -moz-opacity:0.30; opacity: 0.30; }
.alp4 { filter:alpha(opacity=40); -moz-opacity:0.40; opacity: 0.40; }
.alp5 { filter:alpha(opacity=50); -moz-opacity:0.50; opacity: 0.50; }
.alp6 { filter:alpha(opacity=60); -moz-opacity:0.60; opacity: 0.60; }
.alp7 { filter:alpha(opacity=70); -moz-opacity:0.70; opacity: 0.70; }
.alp8 { filter:alpha(opacity=80); -moz-opacity:0.80; opacity: 0.80; }
.alp9 { filter:alpha(opacity=90); -moz-opacity:0.90; opacity: 0.90; }
/*颜色*/

/*网站默认UI设置：标签、按钮 、文本框、下拉、导航*/
    /*按钮样式*/
.btn{    /* 公共样式*/
    display:block;
    background: #FFF;
    border: 1px solid #d2d2d2;
    color: #2b2b2b;
    text-align: center; 
    line-height: 30px;
    font-size:14px;
    cursor: pointer;
}
.btn_hover{
    background: #ff921a;
    border: none;
    padding: 1px;
    color: #FFF;
}

  /*按钮样式*/

  /*文本框样式*/
.inptxt{  /* 公共样式*/
    background: #FFF;
    border: 1px solid #d2d2d2; 
    line-height: 36px;
    color: #979696;
    text-indent: 10px;
}


.inptxt_rad{ /* 通用样式 圆角，默认为四个像素*/
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}
.inptxt_sho{  /* 通用样式 内阴影*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.65);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.65);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.65);
}


/*网站默认UI设置：标签、按钮 、文本框、下拉、导航*/
.poptip{
    padding: 10px 15px 12px;
    width: 247px;
    background: #FFF;
    border: 1px solid #d2d2d2;
}
.poptip  .sj_top{
    width: 14px;
    height: 14px;
    background: url(../images/sanjiao_top.png) no-repeat;
    position: absolute;
    top: -9px;
}
.icon1{
    display: block;
	background:url(../images/head_icon.png?20140819) 0 -82px no-repeat;
}
.icon2{
    display: block;
	color: #797979;
    padding-left: 18px;
	padding-right: 12px;
    background:url(../images/head_icon.png?20140819) 0 -204px no-repeat;

}

/*遮罩层*/
.all_matte{
    display: none;
    margin-top:72px;
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


/*HEADER*/

#header{
    width: 100%;
    height: 72px;          
    background: url(../images/header_by.png) repeat-x;
	font-size:12px;
	font-family:"微软雅黑";
	line-height:18px;
}
#header .head{
    margin: 0 auto;
    width: 1000px;
    position: relative;  
    z-index: 13;  
}
#header .fl { 
    float:left; 
}
#header .fr { 
    float:right;
}
.head .logo{  /*logo样式*/
    display: block;
    margin-top: 12px;
    width: 170px;
    height: 54px;
    background: url(../images/logo.png) 0 0 no-repeat;
    
}

.head .header_nav{
	margin:16px 0 0 50px;
	position:relative;
}
.head .nav_slide{
	width:33%;
	height:52px;
	border-bottom: 4px solid #ff6a1f;
	position:absolute;
	bottom:-4px;
	left:0;
}
.head .header_nav li{
    float: left;
    font-size: 24px;
    line-height: 52px;
    position: relative;
}
.head .header_nav li a{
    display: block;
    padding: 0 20px; 
	color:#444;       
}

.head .header_nav .game_menu{
	 margin-left:-5px;

}
.head .header_nav li a:hover{
	color:#ff6a1f;
	border-bottom: 4px solid #ff6a1f;
}

.head .header_nav li .current{
    color: #444;
	border-bottom: 4px solid #ff6a1f;
}



.head .header_nav li .menu_sj{
	width:10px;
	height:9px;
    background: url(../images/bigGray_tria.png) 0 0 no-repeat;
	position:absolute;
	right:4px;
	top:24px;
	transition:all 0.3s ease-in 0s;
}



.menu_up{
transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);	

}

/*游戏弹框*/
.head .header_nav li .game_cas{
    *padding: 16px 15px 12px;
    position: absolute;
    right: -16px;
    top: 54px;
	overflow:hidden;
}
.head .case_top{
    right: 52px;
}

.head .game_cas h3{
    margin: 8px 0 4px 0;
    color: #444;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
	font-family:"微软雅黑";
}
.head .game_cas .game_btn{
     width: 250px;
     overflow: hidden;
}
.head .game_cas .game_btn li{
    float: left;
    padding: 0 3px 3px 0;
}
.head .game_cas .game_btn a{
    padding: 0;
    width: 80px;
    height: 24px;
    background: #ececec;
    border: none;
    font-size: 12px;
    line-height: 24px;
    color: #797979;
}
.head .game_cas .game_btn a:hover{
    border: none;
    background: #fea01e;
    color: #FFF;
}
.head .game_cas .all_btn{ 
    margin-top: 10px;
    height: 24px;
    background: #fea01e;
    line-height:24px; 
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
	margin-bottom:8px;
}
.head .game_cas .all_btn:hover{
    border: none;
    color:#FFF; 
}
/*游戏弹框完成*/

.head .header_r{
    float: right;
    margin-top:16px;
    padding: 12px 0;
}

/* 头部搜索框样式定义*/
.head .search{
	margin-top:1px; 
    width: 116px;        
    height: 26px; 
    background: #FFF;
    border: 1px solid #cecece;
}
.head .search input{
    display: block;
    font-size: 12px;
    padding-left: 8px;
    width: 78px;
    height: 26px;
    background: none;
    border:none;
    line-height: 26px;
  
    outline: none;	
}
.head .search a{  /*搜索按钮部分*/
    display: block;
    width: 24px;
    height: 26px;
	background:url(../images/head_icon.png?20140819) 2px 3px no-repeat;
}
.head .search a:hover{
    background:url(../images/head_icon.png?20140819) 2px 3px no-repeat #f5f5f5;

}
.head .search input:focus{ border-color: none; box-shadow: none; outline:none; }
/*完成搜索框样式*/

.head .header_his{
    margin: 0 17px;
    padding: 6px 6px 8px 0;
    position: relative;
}

.head .header_his .his{
    display: block;
    font-size: 13px;
    padding-left: 22px;
    background:url(../images/head_icon.png?20140819) 0 -30px no-repeat;
    cursor: pointer;
	color:#444;
}
.head .header_his .his:hover{
	color:#ff6a1f;
    background:url(../images/head_icon.png?20140819) 0 -55px no-repeat;
}



.head  .his_sj{
	width:8px;
	height:7px;
	background: url(../images/gray_tria.gif) no-repeat;
	position:absolute;
	top:13px;
	right:-6px;
	transition:all 0.3s ease-in 0s;
	-moz-transition:all 0.3s ease-in 0s;
	-webkit-transition:all 0.3s ease-in 0s;
	-o-transition:all 0.3s ease-in 0s;
}


.his_up{
	transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	
}

.head .poptip_a{
	width:38px;
	height:100px;
	position:absolute;
	top:-22px;
	left:178px;
	z-index:0;
}
.phoneapp .poptip_a{
	width:80px;
	height:30px;
	position:absolute;
	top:-22px;
	left:178px;
	z-index:0;
}

/*历史弹框部分*/
.head .his_case{
    padding: 0;
    width: 280px;
    position: absolute;
    right: -30px;
    top: 42px;
    background: #FFF;
}
.head .header_his .poptip_a{
	width:50px;
	left:194px;
}
.head .his_case p{
	line-height:70px;
	font-size:14px;
}

.head .his_case p img{
	position: relative;
    top: 4px;
}

.head .his_nr{
    padding-top: 8px;
}
.head .his_nr li{
    *margin-bottom: -4px;
    padding:5px 16px 4px 24px;
    height: 51px;
    border-bottom: 1px solid #d2d2d2;
    background: #f6f6f6;
}
.head .his_nr .li1{
    background: #FFF;
}
.head .his_nr .lilast{
    padding-bottom: 10px;
    border:none;
}
.head .his_nr li a{
    display: block; 
    background: none;
}
.head .his_nr li p a{
    color: #797979;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    width: 196px;

}
.head .his_nr li p a:hover{
    color: #ff6a1f;
}
.head .his_nr span{
    display: block;
}
.head .his_nr span a{
    display: block;
    float: left;
    color: #a6a6a6;
	width:60px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;

    font-size: 12px;
}

.head .his_nr .head_icon1{
    display: block;
    padding: 0 2px 0 20px;
    background:url(../images/head_icon.png?20140819) 0 -158px no-repeat;

}
.head .his_nr .head_icon2{
    display: block;
    padding: 0 2px 0 18px;
    background:url(../images/head_icon.png?20140819) 0 -184px no-repeat;

}
.head .his_nr .head_icon3{
    display: block;
    padding-left: 18px;
    background:url(../images/head_icon.png?20140819) 0 -208px no-repeat;

    width: 46px;

}
.head .his_nr .head_icon4{
    display: block;
    padding: 0 2px 0 20px;
    background:url(../images/head_icon.png?20140819) 0 -229px no-repeat;

}
/*历史弹框部分完成*/

.head .phoneapp{
  	margin:0; 
	padding:6px 6px 0 8px;   
    font-size: 13px;
	cursor:pointer;
	position:relative;   
}




.head .phoneapp .head_icon1{
	background:url(../images/head_icon.png?20140819) 0 -54px no-repeat;
}


.head .phoneapp .attent{
	padding-left:22px;
    background:url(../images/head_icon.png?20140819) 0 -107px no-repeat;
	color:#444;
}


.head .phoneapp .attent:hover{
	color:#ff6a1f;
	background:url(../images/head_icon.png?20140819) 0 -134px no-repeat;
}
.head .phoneapp li{
        padding: 5px 8px 4px 14px;
}
 .head .phoneapp span .head_icon1{
        width:78px;
 }

  /*定义登录 注册状态样式*/
.head .loginShow{
    margin: 6px 5px 0 20px;
    padding-left: 20px;
    float: left;
    background: url(../images/head_icon.png?20140819) 0 -82px no-repeat;
}
.head .loginShow a,.head .loginShow span{
    display: block;
    padding: 0 2px;
    float: left;
    color: #444;
    font-size: 13px;
}
.head .header_r .head_user:hover 
{ 
	border: 1px solid #959595;
}
.head .head_user .poptip_a{
	left:137px;
	width:80px;
}
.head .header_r .head_user{
  /* display: none;   未登录*/
  
    margin-left: 26px;
    margin-top: -4px;
    width: 36px;
    height: 36px;
    border: 1px solid #c7c7c7;
    
}
/*个人资料部分*/
.head .user_case{
    padding:0;
    width: 216px;
    position: absolute;
    right: -2px;
    top: 70px;
    background: #FFF;
}
.head .usercase_top{
	right:6px;
}
.head .user_top{
	padding:5px 30px;
    height:43px;
	width:156px;
    border-bottom:2px solid #fea01e;
    font-size:22px;
	font-weight:normal;
    color:#444;
    line-height:42px;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;

    text-align: center;
}

.head .user_case ul li{
    
    border-top: 1px solid #e8e8e8;
}
.head .user_case ul li span{
	display:block;
	padding: 12px 34px;
    overflow: hidden;
}
.head .user_case ul li.first{
    border-top: none;
}
.head .user_case ul li a{
    display: block;
    padding-left: 44px;
    font-size: 14px;
	color:#444;
}
.head .user_case ul li a:hover{
    color: #ff6a1f;
}
.head .user_case ul span:hover{
    border-left: 4px solid #fea01e;
    padding-left: 30px;
}
.head .user_case ul li .user_icon1{
    background: url(../images/user_icon.png?140905) 0 -22px no-repeat;
}
.head .user_case ul li .user_icon2{
    background: url(../images/user_icon.png?140905) 0 -49px no-repeat;
}
.head .user_case ul li .user_icon3{
    background: url(../images/user_icon.png?140905) 0 -75px no-repeat;
}
.head .user_case ul li .user_icon4{
    background: url(../images/user_icon.png?140905) 0 -105px no-repeat;
}

.head .user_case ul li .user_icon6 {
    background: url(../images/user_icon.png?140905) no-repeat scroll 0 -244px ;
    float: left;
    width: 64px;
}

.head .user_case li span b {
    background: none repeat scroll 0 0 #f00;
    border-radius: 2px;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
	padding: 0 3px;
    text-align: center;
}
/*个人资料部分完成*/
.head a:hover{
    color: #ff6a1f;
}


/*HEADER*/





/*--------------结束定义头部样式------------ */

#footer{
    padding-top: 36px;
    margin-top: 56px;
    width: 100%;
    height: 360px;
    background: #efefef;
}
#footer .foot{
    margin: 0 auto;
    width: 1000px;
	overflow:hidden;
}

#footer .link{ 
   padding-right:20px; 
   width:440px;
   position:relative;
 }
 
 #footer .link_btn{
	position:absolute;
	right:70px;
	top:0px;
}
#footer .link_btn a{
	width:24px;
	height:24px;
	background:url(../images/link_bt.png) no-repeat;
	display:none;
	
        -moz-user-select: none;
        -webkit-user-select: none; 
        -ms-user-select: none; 
         -khtml-user-select: none;
         user-select: none;
}
#footer .link_btn  .fl{
	margin-right:4px;
	background-position: 0 0;
}
#footer .link_btn  .fl:hover{
    background-position: 0 -26px;
}
#footer .link_btn  .fr{
	background-position:-26px 0;
}
#footer .link_btn  .fr:hover{
    background-position: -26px -26px;
}
 
#footer .link .link_c{
        width: 438px;
        height: 144px;
        overflow: hidden;
        position: relative;
}
#footer .link .link_warp{
    position: absolute;
    left: -140px;
    top: 0;
}


 
#footer .link ul{
	display:block;
	float:left;
	margin-right:6px;
}
#footer .software {
   margin-left:16px
}

#footer h3{
    font-size: 14px;
    line-height: 28px;
    color: #444; 
    margin-bottom: 14px;
}

#footer .link li a{
    line-height: 24px;
    color: #797979;
	width:140px;
	display:block;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
#footer .link li a:hover{
    color: #ff6a1f;
}

#footer .software ul{
    overflow: hidden;
}
#footer .software li{
    float: left;
    margin-right: 28px;
}
#footer .software li span{
    display: block;
    padding-left:20px;
    line-height: 22px;
    color: #797979;  
	margin-bottom:10px;
}
#footer .software li a{
    display: block;
    margin-top: 10px;
}
#footer .software .foot_icon1{
    background:url(../images/xi_icon.png?20140821) 2px 2px no-repeat;
}
/*#footer .software .foot_icon2{
    background: url(../images/foot_icon.png) 0 -36px no-repeat;
}*/
#footer .software .foot_icon3{
    background: url(../images/xi_icon.png?20140821) 0 -22px no-repeat;
}
#footer .contact{
    margin-top: 39px;
    height: 60px;
    color: #797979;
	/*margin-left:10px;*/
    line-height: 28px;
}

#footer .contact p{ display:block; height:32px;}
#footer .contact a{
    display: block;
    float: left;
    padding: 6px;
}
#footer .contact a.gfqq{
 padding:0;
 color:#797979;
}

 .foot_global{
	margin:52px auto 18px;
	*margin:42px auto 0;
	padding-top:28px;
	width:1000px;
	border-top:1px solid #CCC;
	text-align:center;
}
 .foot_global .about{
	overflow:hidden;
	padding-left:98px;
	width:600px;
	 margin: 0 auto;
}
 .foot_global .about li{
	float:left;
}
 .foot_global .about li a, .foot_global .about li span{
	color: #797979;
	padding:0 4px;
}
 .foot_global .about li a:hover{
	color:#ff6a1f;
}
 .foot_global p{
	margin-top:10px;
	color: #797979;
}


/**************FOOTER*****************/
.header .content, .footer .content { margin: 0 auto; width: 1000px; }
.footer { background: #282828; border-top: 4px #232323 solid; height: 100px; padding-top: 20px; margin-top: 70px; }
.footer a { color: #fff; }
.footer .ftmes { color: #a6a6a6; padding-top: 10px; padding-left: 30px; }
.footer .ftmes a { margin-right: 8px; text-shadow: 0 1px 2px #000; }
.footer .ftmes a:hover { color: #f39f2b; }
.footer .contact { float: right; color: #fff; }
.sina, .tx { display: inline-block; width: 23px; height: 18px; background: url(../images/share.gif) no-repeat; margin-left: 14px; }
.sina { background-position: 0px 0px; }
.tx { background-position: -40px 0px; }
/**************FOOTER-END*****************/
.page { padding: 18px 0px; color: #a3a3a3; margin-top: 30px; }
#page-link a, .page input { padding: 4px 8px; border: 1px #ccc solid; margin: 0px 4px; color: #a3a3a3; text-align: center; }
#page-link a:hover, #page-link a.current { background: #FEA01E; color: #fff; border: 1px #FEA01E solid; }
.page input:hover, .page input:focus { border: 1px solid #FEA01E; }
.tag { width: 608px; padding-bottom: 10px; }
.tag_div .tag { padding-top: 10px; padding-bottom: 0px; *padding-bottom:10px;
}
.tagSelect { border-bottom: 1px solid #CCCCCC; }
.tag .primary_button01 { margin-left: 0px; }
.tag_but { float: left; text-align: center; margin-bottom: 8px; background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #BABABA; color: #666666; display: inline-block; height: 30px; line-height: 30px; margin: 0 10px 0 0; width: 60px; }
.tag ul li { display: inline; float: left; white-space: nowrap; margin-bottom: 8px; position: relative; text-align: center; }
.tag ul li a { font-size: 13px; background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #d4d4d4; color: #666666; display: inline-block; margin: 0 10px 0 0; padding: 5px; }
.tag ul li a:hover { text-decoration: none; color: #000; }
.tag ul li .tag_check { background: none repeat scroll 0 0 #FFA72E; border: 1px solid #F39F2B; color: #FFFFFF; margin: 0 10px 0 0; padding: 5px; }
.tag ul li .tag_check:hover { color: #fff; }
.tag ul li.tag_li { margin-right: 5px; }
.control_group .tag { width: 570px; }
.tagSelect .tag_li a.delIcon { background: #FFA72E; border: medium none; color: #FFFFFF; font-weight: bold; margin: 0; padding: 0; position: absolute; right: 4px; top: 4px; width: 20px; z-index: 1; }
.tagSelect .tag_li .selectfl { background: none repeat scroll 0 0 #FFA72E; border: 1px solid #FFA72E; color: #FFFFFF; padding: 5px 27px 5px 5px; }
/* login */
.placeholder { color: #cecece;}
.loginWd { width: 548px; padding: 10px 0px; background: #fff; display: none; z-index: 1599; position: relative; }
.toggleBtn_login { border-bottom: 2px #e9e9e9 solid; }
.toggleBtn_login ul { height: 40px; }
.toggleBtn_login li { float: left; height: 40px; width: auto; }
.toggleBtn_login li a { display: block; font-size: 20px; line-height: 40px; padding: 0px 33px; color: #555; text-decoration: none; letter-spacing: 2px; }
.toggleBtn_login li a:hover { color: #000; }
.toggleBtn_login li a.current { color: #ffaf15; border-bottom: 2px #ffaf15 solid; }
#culp { background: none repeat scroll 0 0 #FFFFFF; display: block; height: 16px; position: absolute; right: 20px; top: 20px; width: 16px; }
#culp a:hover { text-decoration: none; }
.pwclose { display: block; float: right; height: 16px; position: relative; width: 16px; background: url(../images/glyphicon_del.gif) no-repeat 0 0; }
.pwclose .pwclose_h, .pwclose .pwclose_s { display: none\9; }
.wdCont { padding: 15px 0 15px 40px; }
.inputBox { width: 300px; float: left; border-right: 1px solid #dae2e5; display: none; }
.inputBox .inputtxt { border: 1px solid #d5d5d5; color: #979696; height: 35px; line-height: 37px; margin-top: 10px; text-indent: 10px; *text-indent:0px;
transition: border-color 0.3s ease 0s; width: 257px; border-radius: 4px; font-family: "微软雅黑", Arial; }
.loginBtn_dialog { margin-top: 20px; }
.loginBtn_dialog a { color: #3EB0D8; }
.loginBtn_dialog a:hover { text-decoration: underline; }
.loginBtn_dialog p { font-size: 12px; padding: 10px 0px 0px 10px; color: #858585; float: left; }
.sendlogin { background: none repeat scroll 0 0 #f6a200; color: #FFFFFF; cursor: pointer; display: block; float: left; font-size: 20px; letter-spacing: 2px; font-family: "微软雅黑", Arial; height: 35px; line-height: 35px; text-align: center; width: 130px; border: none; }
.elseLogin_dialog { float: left; padding-top: 10px; padding-left: 40px; }
.elseLogin_dialog p { color: #666; font-size: 12px; margin-bottom: 10px; }
.elseLogin_dialog a { color: #fff; display: block; height: 32px; line-height: 32px; text-align: center; width: 128px; font-size: 12px; text-decoration: none; }
.elseLogin_dialog a span { display: inline-block; position: relative; right: 12px; top: 8px }
.elseLogin_dialog .dy_icon { background: url(../images/dy_icon.png) no-repeat; overflow: hidden; top: 2px; left: 3px; }
.elseLogin_dialog div a { margin-bottom: 5px; }
.elseLogin_dialog .forgetPd { padding-top: 14px; margin-bottom: 0px; }
.elseLogin_dialog .forgetPd a { color: #3EB0D8; text-align: right; }
.elseLogin_dialog .forgetPd a:hover { text-decoration: underline; }
.acfunBtn { background: #ffac0b; }
.sinaBtn { background: #3eb0d8; }
.qqBtn { background: #d63b22; }
.dy_icon.dy_acfun { background-position: 0px 0px; width: 32px; height: 30px; float: left; }
.acfunBtn:hover { background: #ffc148; }
.sinaBtn:hover { background: #5bbcde; }
.qqBtn:hover { background: #dc5843; }
.dy_icon.dy_sina { background-position: -42px 0px; width: 32px; height: 30px; float: left; }
.dy_icon.dy_qq { background-position: -88px 0px; width: 32px; height: 30px; float: left; }
.loginBg { background: #fff url(../images/loginBg.gif) no-repeat right bottom; }
.login-form-error { background: #FFFBFC; border-color: #F00 !important; }


.left_footer{bottom: 0px; width: 240px; height: 30px; position: absolute; padding: 20px 0px;}
.left_footer .divider{margin: 0px;}
.left_footer ul{padding: 8px 10px 0px;}
.left_footer ul li{float: left; line-height: 30px; margin: 0px 9px;}
.left_footer ul li a{color: #909090;}
.left_footer ul li a:hover{color:#FF921A;}



.topic_toTop{
    width: 46px;
    position: fixed;
    bottom: 20px;
    right: 120px;
    z-index: 12;
    display: none;
}
.topic_toTop .backtop{
    height: 46px;
    background: url(../images/footer_icon.png) 11px 16px #000 no-repeat;
}
.topic_toTop .backtop:hover{
     background-color:#fea01e;
}

.adv_live{ 
    background: none repeat scroll 0 0 #FFFFFF;
    height: 90px;
    margin: 10px 10px 0;
    width: 220px;
}
div.hidden{display: none}

/* 房间发言限制设置 */
.speak_set table { width:320px; }
.speak_set table th { width:108px; height:38px; text-align:right; line-height:36px; color:#000; font-weight:normal; }
.speak_set table td { padding-left:6px; line-height:36px; }
.speak_set table .middle_txt { margin-right:8px; width:120px; height:24px; border:1px solid #d2d2d2; line-height:24px; }
.speak_set table label { color:#333; line-height:32px; }
.speak_set table .small_txt { display:block; float:left; padding-left:4px; margin:4px 8px 0 0; width:41px; height:24px; border:1px solid #d2d2d2; background:#FFF; line-height:24px; color:#a2a2a2; }


/* 超管房间审核管理 */
#room_gg_verify {padding-top: 5px;}
#room_gg_verify .head {margin-bottom: 5px;padding-bottom: 10px;border-bottom: 1px dashed #ccc;position: relative;}
#room_gg_verify .head span.ex {border: 1px solid #595959;padding: 1px 2px;float: left; display: inline-block; margin-right: 4px}
#room_gg_verify .head a {margin-left: 15px;color: #888;font-weight: bold;}
#room_gg_verify .head a:hover {color: #338822;}
#room_gg_verify .head a.active {background-color: #d9d9d9;padding: 2px 4px;color: #000;}
#room_gg_verify .head span.right {float: right;right: 0; position: absolute}
#room_gg_verify .head button {padding: 1px 8px;border: 1px solid #595959;background-color: #fff;color: #333;font-size: 13px;}
#room_gg_verify .head button:hover{background-color: #d9d9d9;}

#feedback_report_button{margin-left: 25px;color: #444}
#feedback_report_button:hover{color: #f76300;}

/*房间二维码下载*/
.room_qrcode{
	margin-right: 8px;
	width: 200px;
}
.room_qrcode .box{
	display: none;
}
.room_qrcode a.title{
	color: #666;
	line-height: 25px;
	padding-left: 5px;
	width: 200px;
	margin: 0;
	display: block;
	background: url("../images/room_vactivebg.png") right no-repeat;
}
.qrcode_box_show{
	position: relative;
	height: 0;
}
.qrcode_box_show .box a{
	background: url("../images/room_qrcode_bg.png") no-repeat;
	width: 190px;
	height: 192px;
	display: block;
}
.qrcode_box_show .box{
	display: block;
	padding: 2px 5px 5px 5px;
	text-align: center;
}